<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>用户注册表单</title>
<link rel="stylesheet" type="text/css" href="/static/bookstyle.css">
<script type="text/javascript" src="/static/validation-1.11.1/lib/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/static/jquery-validation-1.11.1/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/static/jquery-validation-1.11.1/localization/messages_zh.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	/* 设置默认属性 */       
	$.validator.setDefaults({       
	   submitHandler: function(form) {    
			form.submit();    
		}       
	}); 
	// 字符验证       
	jQuery.validator.addMethod("stringCheck", function(value, element) {       
		return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value);       
	}, "只能包括中文字、英文字母、数字和下划线");   
	 
	// 中文字两个字节       
	jQuery.validator.addMethod("byteRangeLength", function(value, element, param) {       
	   var length = value.length;       
		for(var i = 0; i < value.length; i++){       
			if(value.charCodeAt(i) > 127){       
		   length++;       
			}       
		}       
		return this.optional(element) || ( length >= param[0] && length <= param[1] );       
	}, "请确保输入的值在3-15个字节之间(一个中文字算2个字节)");   
	  
		 
	// 手机号码验证       
	jQuery.validator.addMethod("isMobile", function(value, element) {       
		var length = value.length;   
		var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/;   
		return this.optional(element) || (length == 11 && mobile.test(value));       
	}, "请正确填写您的手机号码（格式：138988888888）");       
		
	// 电话号码验证       
	jQuery.validator.addMethod("isTel", function(value, element) {       
		var tel = /^\d{3,4}-?\d{7,9}$/;    //电话号码格式010-12345678   
		return this.optional(element) || (tel.test(value));       
	}, "");
	
	//密码验证
	jQuery.validator.addMethod("isPassword", function( value, element ) {
		var result = this.optional(element) || value.length >= 6 && /\d/.test(value) && /[a-z]/i.test(value);
		if (!result) {
			element.value = "";
			var validator = this;
			setTimeout(function() {
				validator.blockFocusCleanup = true;
				element.focus();
				validator.blockFocusCleanup = false;
			}, 1);
		}
		return result;
	}, "密码必须输入至少6个字符并且至少包含一个数字和一个字符。");

	// a custom method making the default value for companyurl ("http://") invalid, without displaying the "invalid url" message
	jQuery.validator.addMethod("defaultInvalid", function(value, element) {
		return value != element.defaultValue;
	}, "");	
	  
	// 联系电话(手机/电话皆可)验证   
	jQuery.validator.addMethod("isPhone", function(value,element) {   
	   var length = value.length;   
		var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/;   
		var tel = /^\d{3,4}-?\d{7,9}$/;   
		return this.optional(element) || (tel.test(value) || mobile.test(value));   
	}, "请正确填写您的联系电话");   
		 
	// 邮政编码验证       
	jQuery.validator.addMethod("isZipCode", function(value, element) {       
	   var tel = /^[0-9]{6}$/;       
		return this.optional(element) || (tel.test(value));       
	}, "请正确填写您的邮政编码"); 
	
//开始验证   
$('#register-form').validate({  
	invalidHandler: function(e, validator) {
		var errors = validator.numberOfInvalids();
		if (errors) {
			var message = errors == 1
				? '在开单中有一个错误，已经被高亮显示'
				: '表单中有 ' + errors + '处错误. 已经被高亮显示';
			$("div.error span").html(message);
			$("div.error").show();
		} else {
			$("div.error").hide();
		}
	},

 
/* 设置验证规则 */  
    rules: {  	     
        username: {   
            required:true,   
            stringCheck:true,   
            byteRangeLength:[3,15]   
        }, 
		
		password:{
			required:true,
			isPassword:true
		},
		
		repassword:{
			required:true,
			isPassword:true,
			equalTo: "#password"
		},	
		
		name:{
            required:true,   
            stringCheck:true,   
            byteRangeLength:[3,15]   			
		},
		
		blogurl: {
			required:true,
			url:true,
			defaultInvalid:true
		},	
        email:{   
           required:true,   
            email:true  
        },   
       phone:{    
           isTel:true  
       },  
	   mobile:{
		   isMobile:true
	    },
       address:{   
            required:true,   
            stringCheck:true,   
            byteRangeLength:[3,100]   
       },
       zipcode:{
		   isZipCode:true
	   }
    },   
       
    /* 设置错误信息 */  
    messages: {   
        username: {       
            required: "请填写用户名",   
            stringCheck: "用户名只能包括中文字、英文字母、数字和下划线",   
            byteRangeLength: "用户名必须在3-15个字符之间(一个中文字算2个字符)"       
        },  
		
		password:{
			required:"请填写密码",
		},		
		
		repassword:{
			required:"请填写与密码字段相同的密码",
		},	
		
        name: {       
            required: "请填写您的姓名",   
            stringCheck: "姓名名只能包括中文字、英文字母、数字和下划线",      
        },  				
		 
       email:{   
           required: "请输入一个Email地址",   
            email: "请输入一个有效的Email地址（格式：example@example.com）"  
        },   
        phone:{   
           required: "请输入您的联系电话",   
        },   

        address:{   
           required: "请输入您的联系地址",   
           stringCheck: "请正确输入您的联系地址",   
           byteRangeLength: "请详实您的联系地址以便于我们联系您"  
        }   
   },   
       
   /* 设置验证触发事件 */  
   focusInvalid: false,   
    onkeyup: false,   
       
    /* 设置错误信息提示DOM */  
    errorPlacement: function(error, element) {       
       error.appendTo( element.parent());       
    },     
       
});   	  	
	
	     
});
</script>
</head>

<body>
<div id="main">
  <div id="header">
     <div id="logo">
        <div id="logo_text">
          <h1><a href="#">个人资料管理<span class="logo_colour"></span></a></h1>
          <h2></h2>
      </div>
    </div>
  </div>
  <!--在网站内容部分创建一个注册表单-->
  <div id="site_content">
    <div id="content">
        <form action="/zhucesave/" id="register-form" method="post">
        <!--错误信息提示div-->
        <div class="error" style="display:none;margin-top:20px">
          <!--错误提示图标-->
          <img src="images/warning.gif" alt="警告" width="24" height="24" style="float:left; margin: -5px 10px 0px 0px; " />
          <!--错误消息的显示位置-->
          <span style="width:500px;height:20px"></span>.<br clear="all"/>
        </div>        
        <!--表单结构-->
        <div>
           <h4>信息</h4>
            <label>
                <span>用户名</span>
                <input id="text_password" name="username" type="username" value=""/></label>

           <label>
                <span>密码</span>
                <input id="text_password" name="password" type="password" value=""/></label>
           <label>
               <span>再次输入密码</span>
               <input id="text_repassword" name="repassword" type="password" value=""/></span>
           </label> 
           <h4>个人信息</h4>
           <label>
                 <span>姓</span>
                <input id="text_name" name="first_name" type="text" value=""/>
           </label>


           <label>
                 <span>名</span>
                 <input id="text_phone" name="last_name" type="text"  value=""/>
           </label>
           <label>
                <span>电子邮箱</span>
                <input  id="text_mobile" name="email" type="text"  value=""/>
           </label>

           <div class="wrapper_2">
           <input value="确认OK" id="send_btn" class="button" name="button_13" type="submit" />
           </div>           
        </form>
     </div>
  </div>
</div>  
</div>
</body>
</html>
